@font-face {
    font-family: "AppareoB";
    src: url("fonts/Appareo-Black.ttf");
}

.typewriter-animation {
  animation: 
    typewriter 7s steps(80) .5s 1 normal both, 
    blinkingCursor 750ms steps(80) normal infinite;
}
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blinkingCursor{
  from { border-right-color: transparent; }
  to { border-right-color: transparent; }
}

.section{
  position: relative;
  width: 100%;
  display: block;
}
.full-height{
  min-height: 100vh;
}
.over-hide{
  overflow: hidden;
}
.padding-tb{
  padding: 100px 0;
}
[type="radio"]:checked,
[type="radio"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  margin-right: 6px;
  margin-left: 6px;
  margin-top: 30px;
  left: 35vw;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgb(46,73,146);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  background-image: url(img/black.png);
}
.checkbox.scnd + label{
  background-image: url(img/red.png);
}
.checkbox.thrd + label{
  background-image: url(img/green.png);
}

.checkbox:checked + label{
  box-shadow: 0 8px 25px 0 rgba(16,39,112,.3);
  transform: scale(1.3);
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    animation-play-state: running;
}

.slider-height-padding {
  padding-top: 440px;
}

ul {
  position: absolute;
  top: 0;
  left: 2vw;
  display: block;
  width: 65%;
  z-index: 100;
  padding: 0;
  margin: 0;
  margin-top: -10px;
  list-style: none;
}
ul li {
  position: absolute;
  top: 0;
  left: 2w;
  width: 75%;
  display: block;
  z-index: 100;
  padding: 0;
  margin: 0;
  margin-top: -10px;
  list-style: none;
  height: 450px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(img/printtwo.png);
  border-radius: 50%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 2.7;
  color: #343434;
  writing-mode: vertical-rl;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 8px 25px 0 rgba(16,39,112,.1);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
ul li span {
  mix-blend-mode: difference;
}
ul li:nth-child(2) {
  background-image: url(img/printtwor.png);
}
ul li:nth-child(3) {
  background-image: url(img/printtwog.png);
}

.checkbox.frst:checked ~ ul li:nth-child(1) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}
.checkbox.scnd:checked ~ ul li:nth-child(2) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}
.checkbox.thrd:checked ~ ul li:nth-child(3) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}

@media (max-width: 767px) {
  .slider-height-padding {
    padding-top: 340px;
  }
  ul li {
    height: 300px;
    font-size: 13px;
    letter-spacing: 1px;
  }
}

@media (max-width: 575px) {
  .slider-height-padding {
    padding-top: 240px;
  }
  ul li {
    height: 200px;
  }
}

.title{
   font-family: "AppareoB";
    font-size: 4vw;
    color: rgb(255,29, 35);
    position: relative;
    margin: 0 auto;
    letter-spacing: 5px;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);   
    top: -87vh;
    left: 9vw;
}

#des{
  font-family: "AppareoB";
  font-size: 1.25vw;
  text-align: justify;
  width: 30vw;
  position: relative;
  letter-spacing: 5px;
  top: -95vh;
  left: 52vw;
}

#pstar{
  width: 30vw;
  position: relative;
  top: -100vh;
  left: 58vw;
}

#nextp{
  width: 8vw;
  position: relative;
  top: -108vh;
  left: 47vw;
  transition: ease .4s;
}

#nextp:hover{
  transform: scale(1.1);
}

#prevp{
  width: 8vw;
  position: relative;
  top: -108vh;
  left: 30vw;
  transform: scale(-1);
  transition: ease .4s;
}

#prevp:hover{
  transform: scale(-1.1);
}

#pprice{
  width: 10vw;
  position: relative;
  top: -100vh;
  left: 22vw;
  z-index: -1;
}

.cart-button {
	position: relative;
  top: -147vh;
  left: -5vw;
	padding: 5px;
	width: 165px;
	height: 70px;
	border: 0;
	border-radius:10px;
	background-color: rgb(46,73,146);
	outline: none;
  font-family: "AppareoB";
  font-size: 22px;
	cursor: pointer;
	color: #fff;
	transition: .1s ease-in-out;
	overflow: hidden;
}
.cart-button:hover {
	background-color: #rgb(46,73,146);
}
.cart-button:active {
	transform: scale(1.1);
}

.cart-button .fa-shopping-cart {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: -10%;
	font-size: 2em;
	transform: translate(-50%,-50%);
}
.cart-button .fa-box {
	position: absolute;
	z-index: 3;
	top: -20%;
	left: 52%;
	font-size: 1.2em;
	transform: translate(-50%,-50%);
}
.cart-button span {
	position: absolute;
	z-index: 3;
	left: 50%;
	top: 50%;
	font-size: 1.2em;
	color: #fff;
	transform: translate(-50%,-50%);
}
.cart-button span.add-to-cart {
	opacity: 1;
}
.cart-button span.added {
	opacity: 0;
}

.cart-button.clicked .fa-shopping-cart {
	animation: cart .75s ease-in-out forwards;
}
.cart-button.clicked .fa-box {
	animation: box .75s ease-in-out forwards;
}
.cart-button.clicked span.add-to-cart {
	animation: txt1 .75s ease-in-out forwards;
}
.cart-button.clicked span.added {
	animation: txt2 .75s ease-in-out forwards;
}
@keyframes cart {
	0% {
		left: -10%;
	}
	40%, 60% {
		left: 50%;
	}
	100% {
		left: 110%;
	}
}
@keyframes box {
	0%, 40% {
		top: -20%;
	}
	60% {
		top: 40%;
		left: 52%;
	}
	100% {
		top: 40%;
		left: 112%;
	}
}
@keyframes txt1 {
	0% {
		opacity: 1;
	}
	20%, 100% {
		opacity: 0;
	}
}
@keyframes txt2 {
	0%, 80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#hom{ 
  width: 5vw;
    position: relative;
    left: 48vw;
    transition: ease-in .3s;
    filter: drop-shadow (5px 5px 5px rgba(0, 0, 0, 0.3));
    margin-bottom: -5vh;
}

#hom:hover{
  transform: scale(1.1);
}